<section class="contact" style="margin-top: 100px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <form class="contact-form">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button class="btn btn-primary">Send</button>
        </form>
      </div>
      <div class="col-lg-6 col-md-12">
        <img src="assets/location.jpg" style="height: 100%;width: 100%;">
      </div>
    </div>
  </div>
</section>

