<section class="hero-section">
  <div class="container-fluid home">
    <div class="row">
      <div class="col-lg-6 col-md-6 mb-4"></div>
      <div class="col-lg-6 col-md-6 mb-4 content">
        <h1>Welcome to our Store</h1>
        <!-- <p>Discover the latest trends and shop your favorite styles.</p> -->
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, vel? Ullam optio veniam explicabo eum ipsam delectus commodi dicta beatae, architecto, quasi similique qui tempore asperiores dolore tempora, quia adipisci.</p>
        <a href="#featured-products" class="btn btn-primary" routerLink="/Products">Shop Now</a>
      </div>
    </div>
  </div>
</section>
