<section class="about-section">
  <div class="container about">
    <div class="row">
      <div class="col-lg-8 col-md-6 mb-4 content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, vel? Ullam optio veniam explicabo eum ipsam delectus commodi dicta beatae, architecto, quasi similique qui tempore asperiores dolore tempora, quia adipisci.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, vel? Ullam optio veniam explicabo eum ipsam delectus commodi dicta beatae, architecto, quasi similique qui tempore asperiores dolore tempora, quia adipisci.</p>

        <a href="#featured-products" class="btn btn-primary" routerLink="/Products">Shop Now</a>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 d-none d-lg-block">
        <img src="assets/jew.png">
      </div>
    </div>
  </div>
</section>
